<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <h1>List Students</h1>
    </div>
    <table class="table table-striped table-bordered table-dark">
        <thead>
        <tr>
            <th>Student First name</th>
            <th>Student Last name</th>
            <th>Student Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student: ${students}">
            <td th:text = "${student.firstName}"></td>
            <td th:text = "${student.lastName}"></td>
            <td th:text = "${student.email}"></td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>